<div class="well row">
  <div class="list-group">
    <%= render "service", url: "brow-arch", name: "Brow Arch", price: "20" %>
    <%= render "service", url: "lip-wax", name: "Upper Lip Wax", price: "14" %>
    <%= render "service", url: "lip-wax", name: "Brow & Lip Wax", price: "34" %>
    <%= render "service", url: "chin", name: "Chin Wax", price: "14" %>
    <%= render "service", url: "forehead", name: "Forehead Wax", price: "16" %>
    <%= render "service", url: "ears", name: "Ear Hair Waxing", price: "18" %>
    <%= render "service", url: "jawline", name: "Jawline Waxing", price: "18" %>
    <%= render "service", url: "brow-tint", name: "Brow Tint", price: "20" %>
  </div>
</div>
