<div class="well row">
  <div class="list-group">
    <%= render "service", url: "brow-arch.png", name: "Brow Arch", price: "20" %>
    <%= render "service", url: "lip-wax.png", name: "Upper Lip Wax", price: "14" %>
    <%= render "service", url: "lip-wax.png", name: "Brow & Lip Wax", price: "34" %>
    <%= render "service", url: "chin.png", name: "Chin Wax", price: "14" %>
    <%= render "service", url: "forehead.png", name: "Forehead Wax", price: "16" %>
    <%= render "service", url: "ears.png", name: "Ear Hair Waxing", price: "18" %>
    <%= render "service", url: "jawline.png", name: "Jawline Waxing", price: "18" %>
    <%= render "service", url: "brow-tint.png", name: "Brow Tint", price: "20" %>
  </div>
</div>
