<div class="well row">
  <div class="list-group">
    <%= render "service", url: "bridal-trial.png", price: "90", name: "Bridal Trial" %>
    <%= render "service", url: "balayage-full", name: "Balayage - Full", price: "140-160" %>
    <%= render "service", url: "painting-part", name: "Balayage - Painting the Part", price: "80-90" %>
    <%= render "service", url: "balayage-partial", name: "Balayage - Partial", price: "120-140" %>
    <%= render "service", url: "bangs", name: "Bang Trim", price:	"10" %>
    <%= render "service", url: "bleach-tone", name: "Bleach & Tone",	price: "120-140" %>
    <%= render "service", url: "bleach-tone", name: "Bleach & Tone (4 week retouch)",	price: "100-120" %>
    <%= render "service", url: "bleach-tone", name: "Bleach & Tone (long hair)", price:	"140-160" %>
    <%= render "service", url: "blowout", name: "Blowout", price:	"35-40" %>
    <%= render "service", url: "brazilian-blowout", name: "Brazilian Blowout", price: "225-250" %>
    <%= render "service", url: "bridal-trial", name: "Bridal Hair (day of & trial)", price: "90-110" %>
    <%= render "service", url: "brow-tint", name: "Brow Tint", price: "20" %>
    <%= render "service", url: "", name: "Children's Haircut 0-2 yrs", price: "25-30", description: "dry cut only - no shampoo" %>
    <%= render "service", url: "", name: "Children's Haircut 2-4 yrs", price: "35-45" %>
    <%= render "service", url: "", name: "Color", price: "60-65" %>
    <%= render "service", url: "", name: "Color - Long Hair",	price: "75-90" %>
    <%= render "service", url: "", name: "Color Remover (add-on)", price: "25" %>
    <%= render "service", url: "", name: "Consultation", price: "Free Fitty" %>
    <%= render "service", url: "", name: "Corrective Color", price:	"200+" %>
    <%= render "service", url: "", name: "Color Gloss", price: "45-50" %>
    <%= render "service", url: "", name: "Foil - Full", price: "120-no" %>
    <%= render "service", url: "", name: "Foil - Partial", price:	"100-no" %>
    <%= render "service", url: "", name: "Foil - Sectional", price: "70-no" %>
    <%= render "service", url: "", name: "Men's Haircut", price: "35-45" %>
    <%= render "service", url: "", name: "Men's Haircut & Scalp Massage", price:	"55" %>
    <%= render "service", url: "", name: "Men's Haircut - buzz cut", price:	"25-30" %>
    <%= render "service", url: "", name: "Neck Trim", price: "10" %>
    <%= render "service", url: "", name: "Olaplex (add-on)", price:	"20" %>
    <%= render "service", url: "", name: "Relaxer", price:	"160" %>
    <%= render "service", url: "", name: "Scalp Massage (add-on)", price:	"20" %>
    <%= render "service", url: "", name: "Special Occasion Hair", price: "80-100" %>
    <%= render "service", url: "", name: "Split End Treatment (add-on)", price: "40" %>
    <%= render "service", url: "", name: "Women's Haircut", price: "55-65" %>
    <%= render "service", url: "", name: "Women's Haircut & Bleach & Tone", price: "195-225" %>
    <%= render "service", url: "", name: "Women's Haircut & Color", price: "115-130" %>
    <%= render "service", url: "", name: "Women's Haircut & Color (long hair)", price: "130-155" %>
    <%= render "service", url: "", name: "Women's Haircut & Gloss", price: "100-115" %>
    <%= render "service", url: "", name: "Women's Haircut & Partial Balayage", price:	"175-205" %>
    <%= render "service", url: "", name: "Women's Haircut & Full Balayage", price: "195-225" %>
  </div>
</div>
