<div class="well row">
  <div class="list-group">
    <%= render "service", url: "", name: "Eyelash Extensions - Fill", price: "50", description: "1-2 week fill" %>
    <%= render "service", url: "", name: "Eyelash Extensions - Extended Fill", price: "75", description: "2-4 week fill" %>
    <%= render "service", url: "", name: "Eyelash Extensions - Full Set", price: "150", description: "Longer than 4 weeks requires a full set" %>
    <%= render "service", url: "", name: "Lash Tint", price: "20", description: "Lasts about 6-8 weeks" %>
    <%= render "service", url: "", name: "Volume Lash - Fill ", price: "65", description: "1-2 week fill" %>
    <%= render "service", url: "", name: "Volume Lash - Extended Fill", price: "90", description: "2-4 week fill" %>
    <%= render "service", url: "", name: "Volume Lash - Full Set", price: "185", description: "Longer than 4 weeks requires a full set" %>
 </div>
</div>
