<div class="well row">
  <div class="col-lg-4 col-md-6">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/brow-arch.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$20</div>
                <h4 class="list-group-item-heading">Brow Arch</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/brow-arch.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$20</div>
                <h4 class="list-group-item-heading">Brow Tint</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/lip-wax.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$14</div>
                <h4 class="list-group-item-heading">Upper Lip Wax</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-picture">
            <%= image_tag("services/jawline.png", class: "circle") %>
          </div>
          <div class="row-content">
            <div class="least-content">$18</div>
            <h4 class="list-group-item-heading">Jawline Waxing</h4>
          </div>
        </div>
        <div class="list-group-item">
            <div class="row-picture">
              <%= image_tag("services/lip-brow.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$34</div>
                <h4 class="list-group-item-heading">Brow & Lip Wax</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-picture">
            <%= image_tag("services/chin.png", class: "circle") %>
          </div>
          <div class="row-content">
            <div class="least-content">$14</div>
            <h4 class="list-group-item-heading">Chin Wax</h4>
          </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-picture">
            <%= image_tag("services/ears.png", class: "circle") %>
          </div>
          <div class="row-content">
            <div class="least-content">$18</div>
            <h4 class="list-group-item-heading">Ear Hair Waxing</h4>
          </div>
        </div>
    </div>
  </div>
</div>
